/* ---------------- BACKGROUND */
$color__background-body : #0B2057;
$color__background-main : #FFBEB0;
$color__background-cours : #FCC5FE;
$color__background-header : #7163C2;
$color__background-barre : #7163C2;
$color__background-footer : #0B2057;
$color__background-link : #FECEC0;
$color__background-link-hover : #D96C94;
$color__background-body-clip: #4256DD;

/* ---------------- LIENS */
$color__link : #FF2C91;
$color__link-hover : #FFF;
$color__link-visited : #030212;
/* ---------------- LIENS FOOTER */
$color__link__footer : #B400C6;
$color__link__footer-hover : #8904CD;
$color__link__footer-visited : #7B02CB;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : #F65C44;
$color__link__header-hover : #FFB28F;
$color__link__header-visited : #B400C6;

/* ---------------- FONT */
$color__font-header : #FFF8D9;
$color__font-main :#FFF;
$color__font-main-h1 : #FFF;
$color__font-barre : #7163C2;
$color__font-footer : #FCC5FE;
$color__font-site-footer: #FF2C91;