/* ---------------- BACKGROUND */
$color__background-body : #FFB28F;
$color__background-main : #526981;
$color__background-cours : #FEC1A2;
$color__background-header : #A42219;
$color__background-barre : #F07667;
$color__background-footer : #621F27;
$color__background-link : #FF7D75;
$color__background-link-hover : #F07667;
$color__background-body-clip: #526981;

/* ---------------- LIENS */
$color__link : #3D596D;
$color__link-hover : #33435A;
$color__link-visited : #12110D;
/* ---------------- LIENS FOOTER */
$color__link__footer : #B19C9B;
$color__link__footer-hover : #AB9892;
$color__link__footer-visited : #12110D;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : #F65C44;
$color__link__header-hover : #FFF8D9;
$color__link__header-visited : #621F27;

/* ---------------- FONT */
$color__font-header : #FFF8D9;
$color__font-main :#33435A;
$color__font-barre : #B19C9B;
$color__font-footer : #A18486;